{
  "arrowParens": "always",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
